// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

.biorhyme-<uniquifier> {
  font-family: "BioRhyme", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}